{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='resources/gautama.svg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
{% endblock %}
<body class="bg-dark">
    <ul class="background">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
     </ul>
    <nav class="navbar bg-light bg-gradient border">
        <div class="container-fluid justify-content-between">
            <div></div>
            <a href="/" class="navbar-brand">
                <img src="{{url_for('static',filename='resources/gautama-logo.svg')}}" height=30px alt="gautama Logo">
            </a>
            <a class="navbar-config" href={{url_for('config.index')}}><img height="30px" src="{{url_for('static',filename='resources/config-icon.svg')}}" alt="Config"></a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>