{% extends "layout/default.html" %}
{% block content %}
<div class="container">
    <div class="card mt-4">

        <div class="card-header text-center">
                <div class="spinner-border spinner-border-sm" role="status"></div>
                <span class="fs-5">Cargando base de datos... </span>
        </div>
        
        <div class="card-body p-3">
            <form action="" class="row g-3 justify-content-end align-items-start">
                <div id="file" class="fieldDiv col-md-4">
                    <label class="form-label">Lista de Precios</label>
                    <input class="form-control" type="file" name="file">
                </div>

                <div id="sheet" class="fieldDiv col-md-4">
                    <label class="form-label">Hoja a Utilizar</label>
                    <select name="sheet" class="form-select">
                    </select>
                </div>

                <div id="vendorCod" class="fieldDiv col-md-2">
                    <label id="vendorLabel" role="button" title="Actualizar" class="form-label">Proveedor</label>
                    <select name="vendorCod" class="form-select">
                    </select>
                </div>

                <div id="desc" class="fieldDiv col-md-2">
                    <label class="form-label">Descuento</label>
                    <input name="desc" type="number" placeholder="Descuento" value="0" class="form-control">
                </div>

                <div id="sku" class="fieldDiv col-md-2">
                    <label class="form-label">Columna Sku Proveedor</label>
                    <input type="text" name="sku" placeholder="Letra o numerico a partir del 1" class="form-control">
                </div>

                <div id="name" class="fieldDiv col-md-2">
                    <label class="form-label">Columna Nombre</label>
                    <input type="text" name="name" placeholder="Letra o numerico a partir del 1" class="form-control">
                </div>

                <div id="cost" class="fieldDiv col-md-3">
                    <label class="form-label">Columna Costo</label>
                    
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Letra o numerico a partir del 1" name="cost">
                        <label class="input-group-text" >con Iva incluido</label>

                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" name="ivaCheck" >
                        </div>
                    </div>
                </div>

                <div id="iva" class="fieldDiv col-md-1">
                    <label class="form-label">Iva</label>
                    
                    <input type="text" class="form-control" name="iva">
                   
                </div>

                <div id="profit" class="fieldDiv col-md-3">
                    <label class="form-label">Rentabilidad</label>

                    <div class="input-group mb-3">

                        <input name="profit" type="number" placeholder="Rentabilidad" class="form-control">
                    </div>
                </div>

                <div id="submit" class="fieldDiv col-md-1 submitDiv">
                    <label id="carita" class="form-label">:)</label>                    
                    <input name="submit" type="button" class="btn btn-primary" value="Procesar">
                </div>

            </form>
        </div>
    </div>
    
    <div class="card card-body mt-3 table-responsive">
        <div class="header btn-toolbar justify-content-between">
            <span></span>

            <div class="btn-group">
                <button type="button" class="btn btn-danger" >cancelar</button>
                <button type="button" class="btn btn-success" >aceptar</button>
            </div>
        </div>
        
        <table class="table table-xl">
            <thead>
            </thead>
            <tbody>
            </tbody>
                
        </table>   
    </div>


</div>

<script>

    // Fetch Metods => promise => json
    function fetchGet(endpoint){
        const url = "{{request.url_root[:-1]}}"+endpoint;
        const promise = fetch(url,{
            method: "GET",
            headers: {
                "Content-Type": "application/json",
            }
        })
        .then(response => response.json())    
        return promise;    
    }

    function fetchPost(endpoint,data=''){
        const url = "{{request.url_root[:-1]}}"+endpoint;
        const promise = fetch(url,{
            method: "POST",
            headers: {
                "Content-Type": "application/json",

            },
            body: JSON.stringify(data),
            })
            .then(response => response.json())
            
        return promise
    }

    function fetchPostData(endpoint,data=''){
        const url = "{{request.url_root[:-1]}}"+endpoint;
        const promise = fetch(url,{
            method: "POST",
            body: data
            })
            .then(response => response.json())
            
        return promise
    }    

    class PricesChanger{

        constructor(card){
            this.body = card.getElementsByClassName('card-body')[0];
            this.header = card.getElementsByClassName('card-header')[0];
            this.inputs = {};
            this.inputDivs = {};

            this.setInputDivs()
            this.setInputsFromDivs();
            this.setInputsGeneralFunctions()
            this.setInputsSpecificFunctions()
            this.setDisabledAllInputs();
            this.setVendorsOptions().then(e=>{
                this.inputs['file'].clearDisabled()
            });
            this.setVendorReloadButton();
            this.loadDb();
        }

        loadDb(){
            this.setHeaderLoading('Cargando base de datos...')
            const url = "{{request.url_root[:-1]}}/precios/load_db";
            this.inputs['submit'].classList.add('visually-hidden')
            fetch(url,{
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                }
            })
            .then(response => {
                    if(response.state!== 500){
                    this.inputs['submit'].classList.remove('visually-hidden')
                    this.setClearHeader()
                    }else{
                        this.loadDb()
                    }
            })

            // this.inputs['submit'].classList.remove('visually-hidden')
            //         this.setClearHeader()
        }

        setHeaderLoading(title = 'cargando...'){
            const span = this.header.getElementsByTagName('span')[0]
            const spinner = this.header.getElementsByTagName('div')[0]

            spinner.classList.remove('visually-hidden')
            span.textContent = title
        }
        
        setClearHeader(title = 'Actualizar precios'){
            const span = this.header.getElementsByTagName('span')[0]
            const spinner = this.header.getElementsByTagName('div')[0]

            spinner.classList.add('visually-hidden')
            span.textContent = title
        }

        getInputDivs(){
            const divs = this.body.getElementsByClassName('fieldDiv');
            return divs;
        }

        setInputDivs(){
            const divs = this.body.getElementsByClassName('fieldDiv');
            for(const div of divs){
                this.inputDivs[div.id]=div
            }
        }
        
        setInputsFromDivs(){
            const divs = this.inputDivs;

            for (const div in divs){
                const currentDiv = divs[div];
                const input =currentDiv.getElementsByTagName('select')[0];

                if (currentDiv.id=='sheet' || currentDiv.id=='vendorCod') {
                    const input =currentDiv.getElementsByTagName('select')[0]
                    this.inputs[input.name]= input

                } else if(currentDiv.id=='cost'){
                    const input = currentDiv.getElementsByTagName('input')[0]
                    const checkbox = currentDiv.getElementsByTagName('input')[1]

                    this.inputs[checkbox.name]=checkbox
                    this.inputs[input.name]=input
                } else {
                    const input = currentDiv.getElementsByTagName('input')[0]
                    this.inputs[input.name]= input
                }
            }
        }

        setInputsGeneralFunctions(){
            const inputs = this.inputs;
            for(const input in inputs){
                inputs[input].setDisabled = function(){
                    this.setAttribute('disabled',true)
                }

                inputs[input].clearDisabled = function(){
                    this.removeAttribute('disabled')
                }

                inputs[input].setFalse = function(){
                    this.classList.add('border','border-danger')
                }

                inputs[input].clearFalse = function (){
                    this.classList.remove('border','border-danger')
                }

                inputs[input].clearValue = function(){
                    this.value = ''
                }
            }
        }

        setInputsSpecificFunctions(){
            const inputs = this.inputs;
            for(const input in inputs){
                const currentInput = inputs[input]
                switch (input) {
                    case 'file':
                        this.fileFunction(currentInput);
                        this.appendCheckInputs(currentInput)
                        break;

                    case 'submit':
                        this.submitFunction(currentInput)

                        break;

                    case 'ivaCheck':
                        currentInput.addEventListener('change',input=>{
                            if(input.target.checked){
                                this.inputs['iva'].value = 0;
                                this.inputs['iva'].setDisabled()
                            }else{
                                this.inputs['iva'].clearDisabled()
                                this.inputs['iva'].value = '';
                            }
                        })
                        this.appendCheckInputs(currentInput)

                        break;
                    default:
                        this.appendCheckInputs(currentInput)
                        break;
                }
            }         
            // 
        }
        
        setVendorsOptions(){
            console.log('az')
            const endpoint = '{{url_for("cbapi.get_vendors")}}'
            const promise = fetchGet(endpoint).then(vendors =>{
                while (this.inputs['vendorCod'].firstChild) {
                this.inputs['vendorCod'].removeChild(this.inputs['vendorCod'].firstChild);
                }
                
                for(const key in vendors){
                    const vendor = vendors[key]
                    const option = document.createElement('option');
                    option.setAttribute('value',vendor['Codigo'])
                    option.textContent = vendor['Codigo']+'.'+vendor['NombreFantasia']
                    
                    this.inputs['vendorCod'].append(option)
                }
            })

            return promise;
        }

        setVendorReloadButton(){
            const vendorLabel = document.getElementById('vendorLabel')
            vendorLabel.addEventListener('click',e=>{
                this.setVendorsOptions()
            })
        }

        fileFunction(input){
            input.addEventListener('change',e=>{
                if(e.target.files[0]){
                    const formData = new FormData();
                    formData.append('file',e.target.files[0]);

                    this.setDisabledVariables()
                    this.deleteSheetsOptions()

                    fetchPostData('/precios/upload_xlsx',formData).then(sheets=>{
                        if(sheets != {}){
                            this.generateSheetsOptions(sheets)
                        }
                    
                    })
                }
            })
        }

        submitFunction(input){
            input.addEventListener('click',e=>{
                const formData = this.appendInputsToForm();
                this.submit(formData)
            })
        }

        appendCheckInputs(input){
            input.addEventListener('change',e=>{
                if(this.checkInputsValues()){
                    document.getElementById('carita').textContent= ':)'
                    this.inputs['submit'].clearDisabled()
                    const formData = this.appendInputsToForm();
                    this.prerender(formData)
                }
            });
        }

        prerender(formData){
            fetchPostData("/precios/prerender",formData)
            .then(e=>{
                priceTable.generateTable(e);
                priceTable.hiddenButtons()

            })
        }

        submit(formData){
            // set button loading 
            if(this.checkInputsValues()){
                fetchPostData("{{url_for('precios.pre_render_submit')}}",formData)
                .then(e=>{
                priceTable.setPreConfigData(formData)
                priceTable.generateTable(e,true);
                priceTable.unblockButtons();
                priceTable.clearHiddenButtons()
                })
            }
        }

        appendInputsToForm(){
            const formData = new FormData()
            for(const input in this.inputs){
                const currentInput = this.inputs[input];

                switch (input) {
                    case 'submit':
                        break

                    case 'ivaCheck':
                        if(currentInput.checked){
                            formData.append(input,true)
                        }else{
                            formData.append(input,false)
                        }
                        break;
                        
                    case 'file':
                        const file = currentInput.files[0]
                        formData.append(input,file)
                        break;

                    default:
                        formData.append(input,currentInput.value)
                        break;
                }
            }
            return formData;
        }

        checkInputsValues(){
            let state = true
            for(const input in this.inputs){
                const currentInput = this.inputs[input]
                currentInput.clearFalse()
                if (input != 'file' && input != 'desc' && input != 'ivaCheck') {
                    if (currentInput.value == '') {
                        state = false;
                        currentInput.setFalse()
                        this.inputs['submit'].setDisabled()
                        document.getElementById('carita').textContent= ':('
                    }
                }
            }
            return state;
        }


        
        deleteSheetsOptions(){
            while (this.inputs['sheet'].firstChild) {
                this.inputs['sheet'].removeChild(this.inputs['sheet'].firstChild);
            }
        }
        //  Cadena de acontecimientos. 
        generateSheetsOptions(sheets){
            this.inputs['sheet'].clearDisabled();

            // Existen las diferentes opciones
            // Primero borramos las opciones


            for(const sheet of sheets){
                const option = document.createElement('option')
                option.setAttribute('value',sheet);
                option.textContent = sheet;
                this.inputs['sheet'].appendChild(option)
            }

            // Event para displayear columnas precio y sku, no hace falta ya que no todas las columnas van a ser iguales. Algunas ni formato logico van a tener

            this.clearDisabledVariables()
        }

        setDisabledVariables(){
            this.inputs['sku'].setDisabled();
            this.inputs['cost'].setDisabled();
            this.inputs['ivaCheck'].setDisabled();
            this.inputs['profit'].setDisabled();
            this.inputs['desc'].setDisabled();
            this.inputs['iva'].setDisabled();
            this.inputs['name'].setDisabled();
            this.inputs['vendorCod'].setDisabled();
        }

        clearDisabledVariables(){
            this.inputs['sku'].clearDisabled()
            this.inputs['cost'].clearDisabled()
            this.inputs['ivaCheck'].clearDisabled()
            this.inputs['profit'].clearDisabled()
            this.inputs['desc'].clearDisabled()
            this.inputs['iva'].clearDisabled()
            this.inputs['name'].clearDisabled()
            this.inputs['vendorCod'].clearDisabled()
        }

        setDisabledAllInputs(){
            const inputs = this.inputs;
            for(const input in inputs){
                const currentInput = inputs[input];
                currentInput.setDisabled();
            }
        }

        clearDisabledAllInputs(){
            const inputs = this.inputs;
            for(const input in inputs){
                const currentInput = inputs[input];
                currentInput.clearDisabled();
            }
        }
    }

    class PriceTable{
        constructor(card){
            this.body = card
            this.table = card.getElementsByTagName('table')[0]
            this.span = card.getElementsByTagName('span')[0]
            this.table.thead = this.table.getElementsByTagName('thead')[0]
            this.table.tbody = this.table.getElementsByTagName('tbody')[0]
            this.rows = {}
            this.buttons = {}
            this.buttons['cancel'] = this.body.getElementsByTagName('button')[0]
            this.buttons['accept'] = this.body.getElementsByTagName('button')[1]
            this.lastPrerenderData= {};
            this.hiddenButtons()
            this.blockButtons()
            this.setButtons()
            this.setHidden()

        }

        hiddenButtons(){
            this.buttons['accept'].classList.add('visually-hidden')
            this.buttons['cancel'].classList.add('visually-hidden')
        }

        blockButtons(){
            this.buttons['accept'].setAttribute('disabled',true)
            this.buttons['cancel'].setAttribute('disabled',true)
        }

        unblockButtons(){
            this.buttons['accept'].removeAttribute('disabled')
            this.buttons['cancel'].removeAttribute('disabled')
        }

        clearHiddenButtons(){
            this.buttons['accept'].classList.remove('visually-hidden')
            this.buttons['cancel'].classList.remove('visually-hidden')

        }

        setPreConfigData(formData){
            const iva = formData.get('iva')
            const profit = formData.get('profit')
            const ivaCheck = formData.get('ivaCheck')
            const vendorCod = formData.get('vendorCod')
            const desc = formData.get('desc')
            this.preConfig = {'iva':iva,'profit':profit,'ivaCheck':ivaCheck,'vendorCod':vendorCod,'desc':desc}
        }

        setButtons(){
            this.buttons['accept'].addEventListener('click',e=>{
                // Debe enviar Set data para que se procese a cbapi put :)
                const dataForm = this.formatData(this.setData());
                const endpoint = '{{url_for("precios.submit")}}';
                changer.setDisabledAllInputs()
                changer.setHeaderLoading('Modificando datos...')
                this.blockButtons()
                const father = this;
                fetchPost(endpoint,dataForm).then(e=>{
                    changer.setClearHeader()
                    changer.clearDisabledAllInputs()
                    father.clearHiddenButtons()
                    if(e === true){
                        this.buttons['accept'].setAttribute('disabled',true)
                        changer.loadDb()
                        // father.generateTable(father.lastPrerenderData)
                        // father.hiddenButtons()
                    }
                })
            })
            this.buttons['cancel'].addEventListener('click',e=>{
                this.generateTable(this.lastPrerenderData)
                this.hiddenButtons()
            })
        }

        formatData(rows){
            let newData = {};
            for(const key in rows){
                let row = rows[key];
                    
                const final = parseFloat(row['final'])
                let iva = parseFloat(row['iva'])
                let desc = parseFloat(this.preConfig['desc'])
                let profit = parseFloat(this.preConfig['profit'])
                let vendorCod = this.preConfig['vendorCod']

                if((this.preConfig['iva'] == 0 || this.preConfig['ivaCheck']) && row['iva'] == 0){
                    iva = 21;
                }

                const ivaFactor = (iva/100)+1
                const descFactor = 1-(desc/100)
                const profitFactor =(profit/100)+1
                const rentFactor = profitFactor/descFactor 
                
                const precio = parseFloat(final/ivaFactor);
                const costo = parseFloat(precio/rentFactor);
                const rentabilidad = (rentFactor-1)*100

                row['costo_interno']=costo;
                row['precio']=precio;
                row['vendorCod']=vendorCod;
                row['iva']=iva;
                row['rentabilidad']=rentabilidad;


                newData[key]=row;
            }
            
            return newData;          
        }

        setSpan(content){
            this.span.textContent= content;
        }

        setHidden(){
            this.body.classList.add('visually-hidden');
        }

        clearHidden(){
            this.body.classList.remove('visually-hidden');
        }

        generateTable(rows,submit=false){
            this.clearHidden()
            let span;
            if(submit){

                span = `articulos: ${rows.length}`
            }else{
                this.lastPrerenderData = rows;
                span = "previsualizacion (solo se mostraran 20 articulos)"
            }
            this.setSpan(span)
            this.clearTable()
            let n = 0;
            if(n == 0 ){
                const row = new PriceRow();
                this.table.thead.append(row.genTHead(rows[0],submit))
            }

            for(const row of rows){
                const newRow = new PriceRow();
                this.rows[n]=newRow;
                this.table.tbody.append(newRow.genTBody(row,submit))
                n++;
            }

            this.appendButtonFunction()
        }

        appendButtonFunction(){
            for(const key in this.rows){
                const row = this.rows[key];

                row.button.addEventListener('click',e=>{
                    row.body[0].remove()
                    delete this.rows[key];       
                })
            }
        }

        setData(){
            let dataForm = {}
            for(const key in this.rows){
                const data= this.rows[key].data;
                dataForm[key]=data;
            }
            return dataForm;
        }
        
        clearTable(){
            while(this.table.thead.firstChild){
                this.table.thead.removeChild(this.table.thead.firstChild)
            }

            for(const key in this.rows){
                const currentRow = this.rows[key]

                currentRow.body[0].remove()
                delete this.rows[key];
            }
        }


    }

    class PriceRow{
        constructor(){
            this.data = {}
            this.body = {}
            this.tds = {}
        }

        genTHead(row,submit=false){
            const tr = document.createElement('tr');
            for(const key in row){
                if (submit){   
                    if( key != 'codigo_barras' && key != 'id' && key != 'old_precio' && key != 'iva' && key != 'estado' && key != 'tipo' && key != 'id_rubro' && key != 'sku_proveedor'){
                        const th = document.createElement('th');
                        th.textContent = key;
                        tr.append(th);
                    }
                }else{
                    const th = document.createElement('th');
                        th.textContent = key;
                        tr.append(th);
                }
            }

            const th = document.createElement('th');
            th.textContent = '-';
            tr.append(th)
            return tr;
        }

        genTBody(row,submit=false){
            const tr = document.createElement('tr');
            for(const key in row){
                const value = row[key]
                if (submit ) {  
                    if(key != 'codigo_barras' && key != 'id' && key != 'old_precio' && key != 'iva' && key != 'estado' && key != 'tipo' && key != 'id_rubro' && key != 'sku_proveedor'){
                        const td = document.createElement('td');
                        if(key == 'variacion'){
                            td.textContent = value+'%';
                        }else if(key == 'final'){
                            const input = document.createElement('input')
                            input.setAttribute('type','text')
                            input.setAttribute('value',value)
                            this.appendInputFunction(input);
                            td.append(input)
                        }else{
                            td.textContent = value;
                        }
                        
                        this.tds[key] = td;
                        tr.append(td);
                    }
                }else{
                    const td = document.createElement('td');
                    td.textContent = value;
                    if(key == 'variacion'){
                        td.textContent = value+'%';
                    }
                    tr.append(td);
                }
                // Ingreso de data :)
                this.data[key]=value
            }
            // Boton :)
            const td = document.createElement('td');
            const button = document.createElement('button')
            button.classList.add('btn','btn-danger')
            if(!submit){
                button.setAttribute('disabled',true)
            }
            button.textContent = '-';
            this.button = button;
            td.append(button);
            tr.append(td)
            this.body[0]=tr;
            return tr;
        }

        appendInputFunction(input){
            input.addEventListener('change',e=>{
        

                const final = parseFloat(e.target.value);
                const inicial = parseFloat(this.data['final anterior'])

                this.tds['variacion'].textContent = `${(((final/inicial)*100)-100).toFixed(2)}%`;

                // Modificar valores
                this.data['final'] = final;

                

            })
        }
    }


    const cardPriceTable = document.getElementsByClassName('card')[1]
    const priceTable = new PriceTable(cardPriceTable)
    
    const cardPriceCharger = document.getElementsByClassName('card')[0]
    const changer = new PricesChanger(cardPriceCharger);


    
</script>

<!-- Script porque vamos a manejar todo asincrono :) -->
{% endblock %}